<html xmlns:th="http://www.thymeleaf.org">

<body>
<h2 th:text = "${title}"></h2>
    <nav>
        <ul>
            <li><a th:href="@{/driver/show/all}">Show All Drivers</a></li>
            <li><a th:href="@{/parcel/show/all}">Show All Parcells</a></li>
        </ul>
        <li><a th:href="@{/parcel/calculate/count/today}">Parcels That Need To Be Delivered Today</a></li>
        </ul>
        <form action="/parcel/calculate/income" method="get">
            <label>Select Customer:</label>
            <select name="customerId">
                <option th:each="customerId : ${customerId}"
                        th:value="${customerId}"
                        th:text="${customerId}"></option>
            </select>
            <button type="submit">Calculate income by id</button>
        </form>
    </nav>
    <h1>Lūdzu aizpildiet info par kurjeru</h1>
    <form action="#" th:action="@{/driver/add}" th:object="${driver}" th:method="post"  >
        <table>
            <tr>
                <td>Vārds</td>
                <td> <input type="text" th:field="*{name}"  />  </td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"  ></td>
            </tr>

            <tr>
                <td>Uzvārds</td>
                <td> <input type="text" th:field="*{surname}"  />  </td>
                <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"  ></td>
            </tr>

            <tr>
                <td>Personas kods</td>
                <td> <input type="text" th:field="*{personCode}"  />  </td>
                <td th:if="${#fields.hasErrors('personCode')}" th:errors="*{personCode}"  ></td>
            </tr>

            <tr>
                <td>Pieredze (gados)</td>
                <td> <input type="text" th:field="*{experienceInYears}"  />  </td>
                <td th:if="${#fields.hasErrors('experienceInYears')}" th:errors="*{experienceInYears}"  ></td>
            </tr>
            <tr>
                <td>Autovaditaja aplieciba</td>
                <td> <input type="text" th:field="*{licenseNo}"  />  </td>
                <td th:if="${#fields.hasErrors('licenseNo')}" th:errors="*{licenseNo}"  ></td>
            </tr>
            <tr>
                <td></td>
                <td> <input type="submit" title="Submit" />  </td>
            </tr>
        </table>
    </form>
</body>
</html>