<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>All Parcels</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>

<body>
<nav>
    <ul>
        <li><a th:href="@{/driver/show/all}">Show All Drivers!!!</a></li>
        <li><a th:href="@{/parcel/show/all}">Show All Parcells</a></li>
        <form th:action="@{'/parcel/show/customer'}" method="GET">
            <input name="id" placeholder="Search by Customer id">
            <button type="submit">Search</button>
        </form>
        <form th:action="@{'/parcel/show/driver'}" method="GET">
            <input name="id" placeholder="Search by driver id">
            <button type="submit">Search</button>
        </form>

        <form th:action="@{'/parcel/show/price'}" method="GET">
            <input type="number" name="price" min="0" max="100" step="0.2" value="0.01">
            <button type="submit">Search</button>
        </form>

        <form action="/parcel/show/city" method="get">
            <label>Select City:</label>
            <select id="idc" name="city">
                <option th:each="city : ${T(lv.venta.model.City).values()}" th:value="${city}" th:text="${city}"></option>
            </select>
            <button type="submit">Show Parcels</button>
        </form>
    </ul>
</nav>
<h2 th:text = "${title}"></h2>
<table>
    <tr>
        <td>IDPA</td>
        <td>IDC</td>
        <td>DRIVER_ID</td>
        <td>ISFRAGILE</td>
        <td>PRICE eur</td>
        <td>SIZE</td>
        <td>Created at</td>
        <td>Planned Delivery</td>
        <td>Assigned Driver</td>
    </tr>
    <tr th:each="tempPr: ${myobjs}">
        <td th:text = "${tempPr.getIdpa()}"></td>
        <td th:text = "${tempPr.getAbstractCustomer().getIdc}"></td>
        <td th:text = "${tempPr.getDriver().getIdp()}"></td>
        <td th:text = "${tempPr.getIsFragile()}"></td>
        <td th:text = "${tempPr.getPrice()}"></td>
        <td th:text = "${tempPr.getSize()}"></td>
        <td th:text = "${tempPr.getOrderCreated()}"></td>
        <td th:text = "${tempPr.getPlannedDelivery}"></td>
        <td>
            <form th:action="@{'/parcel/change/' + ${tempPr.getIdpa()}}" method="get">
                    <select id="driver" name="driverId">
                        <option th:value="${tempPr.getDriver().getIdp()}"
                                th:text="${tempPr.getDriver().getName()}+' (Esošais)'"></option>
                        <option th:each="driver : ${driver}"
                                th:value="${driver.getIdp()}"
                                th:text="${driver.getName()}"></option>
                    </select>
                    <input type="submit" value="Change Driver">
            </form>
        </td>
    </tr>
<!--action="#" th:action="@{'/parcel/add/' + ${customerCode} + '/' + ${driverId}}"-->
</table>
<form action="/parcel/add" method="GET">
    <input type="text" name="customerCode" th:value="${customerCode} "placeholder="CustomerCode">
    <input type="text" name="driverId" th:value="${driverId}"placeholder="DriverID">
    <button type="submit">Search</button>
</form>
</body>

</html>