<html xmlns:th="http://www.thymeleaf.org">

<body>
<h2 th:text = "${title}"></h2>
<nav>
    <ul>
        <li><a th:href="@{/driver/show/all}">Show All Drivers</a></li>
        <li><a th:href="@{/driver/show/all/{id}(id=${id})}">Show Driver by ID</a></li>

    </ul>
</nav>
<table>
    <tr>
        <td th:text = "${myobj.getName()}"></td>
        <td th:text = "${myobj.getSurname()}"></td>
        <td th:text = "${myobj.getPersonCode()}"></td>
        <td th:text = "${myobj.getLicenseNo()}"></td>
        <td th:text = "${myobj.getExperienceInYears()}"></td>

    </tr>
</table>
</body>

</html>