<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Parcels</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<nav>
    <ul>

        <li><a th:href="@{/parcel/show/all}">Show All Parcells</a></li>
        <form th:action="@{'/driver/show'}" method="GET">
            <input name="id" placeholder="Search by id">
            <button type="submit">Search</button>
        </form>

    </ul>
</nav>
<h2 th:text = "${mytitle}"></h2>
<table>
    <tr>
        <td>IDP</td>
        <td>Vārds</td>
        <td>Uzvārds</td>
        <td>Personas kods</td>
        <td>Autovadītāja apliecības numurs</td>
        <td>Pieredze (gados)</td>
        <td>Atjaunot</td>
        <td style="background-color: palevioletred">Dzēst</td>
    </tr>
    <tr th:each="tempPr: ${myobjs}">
        <td th:text = "${tempPr.getIdp()}"></td>
        <td th:text = "${tempPr.getName()}"></td>
        <td th:text = "${tempPr.getSurname()}"></td>
        <td th:text = "${tempPr.getPersonCode()}"></td>
        <td th:text = "${tempPr.getLicenseNo()}"></td>
        <td th:text = "${tempPr.getExperienceInYears()}"></td>
        <td>
            <a th:href="@{'/driver/update/' + ${tempPr.idp}}" target="_self">Atjaunot</a>
        </td>
        <td style="background-color: palevioletred;">
            <a  th:href="@{'/driver/remove/' + ${tempPr.idp}}" target="_self">Dzēst</a>
        </td>
    </tr>

</table>
<a th:href="@{/driver/add}"  target="_self">Izveidot jaunu</a>
</body>

</html>